body,h1,h2 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
h2 {letter-spacing: 6px}
li {letter-spacing: 3px}

ul{ 
  list-style-type: none;
  background-color: rgb(245,222,179);
}
body{
  background-color: rgb(238,232,170);
}
