body,h1,h2 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
h2 {letter-spacing: 6px}
li {letter-spacing: 3px}

ul{ 
  list-style-type: none;
  background-color: rgb(245,222,179);
    width: 200px;
    height: 100px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
body{
  background-color: rgb(255,240,245);
}
